<div class="post-container">
    @foreach(Classes.Post post in Model.DisplayedPosts)
    {
        <div class="post">
            <h3 class="title">
                <a asp-page="Article" asp-route-slug="@post.Slug">
                    @post.Title
                </a>    
            </h3>
            <div class="infos-container">
                <img src="@post.ImgPath" alt="Article Image">
                <div class="description">
                    @post.Preview ... <a asp-page="Article" asp-route-slug="@post.Slug">Read more</a>
                </div>

                <div class="categories">
                    @foreach(string category in post.Categories.Split('|'))
                    {
                        <div class="category">
                            <a asp-page="Search" asp-route-type="tag" asp-route-search="@category">
                                #@category
                            </a>
                        </div>
                    }    
                </div>
            </div>
        </div>
    }
</div>