@page
@model Roll_Driven_Stories.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/site.css" />

@foreach(Classes.Post post in Model.Posts)
{
    <a asp-page="Article" asp-route-slug="@post.Slug" class="post" style="background-image: url(@post.ImgPath)">
        <h3 class="title">@post.Title</h3>
        <div class="description">@post.Summary</div>
        <span class="filler"></span>
        <div class="category">@post.Categories</div>
    </a>
}