@page
@model Roll_Driven_Stories.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/site.css" />
<nav>
    <h1>Roll Driven Stories</h1>
</nav>
<div class="post-container">
    @foreach(Classes.Post post in Model.Posts)
    {
            <div class="post">
                <h3 class="title">
                    <a asp-page="Article" asp-route-slug="@post.Slug">
                        @post.Title
                    </a>    
                </h3>
                <div class="infos-container">
                    <div class="description">@post.Summary</div>
                    <div class="category-infos">
                        <img src="@post.ImgPath" alt="Main Category">
                        <div class="category">@post.Categories</div>
                    </div>
                </div>
            </div>
    }
</div>